<!DOCTYPE html>
<html>
<head>
    <title>{{{ api_name.value }}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{{ bucket_url.value }}}/public/favicon.ico" />
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="{{{ bucket_url.value }}}/public/bundle.js"></script>
</body>
</html>