body {
    background-color: #efefef;
    background-size: 8px 8px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX19fX5+fn////k5OTt7e329vbn5+fBCH8pAAAAPklEQVR4Xk3MMREAMAzDQFEwBVMwhVAohfCH0Ot1SBbdT8IljsXgxbUBidQLUgL0oIx80OClvAG0lAz+deECYCQPaft8rYoAAAAASUVORK5CYII=');
}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link (blueGrey700) */
a:visited {
    color: #455A64;
}

/* mouse over link (blueGrey500) */
a:hover {
    color: #607D8B;
}

/* selected link */
a:active {
    color: #000000;
}

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span {
    font-weight: 300;
    color: #90A4AE; /* blueGrey300=90A4AE, blueGrey200=B0BEC5 */
}

.align-center {
    text-align: center;
}

.padding-2x {
    padding: 20px;
}

/* clearfix (Thanks https://css-tricks.com/snippets/css/clear-fix/) */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
